@page
@model AT_CSharp2_Oficial.Pages.Login.LoginModel
@{
	ViewData["Title"] = "Login";
}

<h2>Logar</h2>

@if (!string.IsNullOrEmpty(Model.Erro))
{
	<div class="alert alert-danger">@Model.Erro</div>
}

<form method="post">
	<div class="mb-2">
		<label asp-for="Login" class="form-label">Usuário</label>
		<input asp-for="Login" class="form-control" />
	</div>
	<div class="mb-2">
		<label asp-for="Senha" class="form-label">Senha</label>
		<input asp-for="Senha" type="password" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Entrar</button>
</form>
